<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<HTML>
<HEAD>
  <TITLE>Sourcery</TITLE>

  <LINK rel="shortcut icon" href="assets/images/icon.jpg"/>

  <LINK type="text/css" rel="stylesheet" href="assets/styles/reset.css" />
  <LINK type="text/css" rel="stylesheet" href="assets/styles/site.css" />

  <SCRIPT language="javascript" type="text/javascript" src="assets/scripts/jquery.js"></SCRIPT>
  <SCRIPT language="javascript" type="text/javascript" src="assets/scripts/highlight.js"></SCRIPT>

  <SCRIPT type="text/javascript">
    $(document).ready(function() {
      $('pre').wrapInner('<code></code>');
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad('ruby');
    });
  </SCRIPT>

  <LINK type="text/css" rel="stylesheet" href="assets/styles/highlight.css" />
</HEAD>
<BODY>

<div id="nav" class="hued">
  <div class="page">
    <a href="http://rubyworks.github.com/sourcery">Home</a> &nbsp;
    <a href="http://rubyworks.github.com/sourcery/rdoc">API Documents</a> &nbsp;
    <a href="http://github.com/rubyworks/sourcery">Development</a> &nbsp;
    <a href="http://googlegroups.com/group/rubyworks-mailinglist">Mailing List</a>
  </div>
</div>


<div id="header">
  <div class="page"> 
    <a href=""><img src="assets/images/radio_earth.jpg" align="right" style="margin-right: 20px;"/></a>
    <h1>Sourcery</h1>
  </div>
</div>

<div id="aside" style="display: none;">
  <div class="menu">
    <ul>
      <li><a href="#">SOURCERY</a></li>
      <li><a href="#section_description">DESCRIPTION</a></li>
      <li><a href="#section_features">FEATURES</a></li>
      <li><a href="#section_synopsis">INSTRUCTIONS</a></li>
      <li><a href="#section_how_to_install">INSTALLATION</a></li>
      <li><a href="#section_copyright_license">COPYRIGHT &amp; LICENSE</a></li>
    </ul>
  </div>
</div>


<div id="main" class="hued"><div class="page">


<div class="section" id="section_description">

<h2>DESCRIPTION</h2>

<p>Sourcery is an journey into the realm of Ruby meta-meta-programming.
Let's call it astrological-programming or just plan <i>Sourcery</i>.</p>

<p>The idea is that all source code files are written with the ability
to embedded eRuby templating, combined with dotRuby metadata, the source
"spells" are cast to static lib files for actual usage. While arguably
esoteric (but really what wizard isn't?), the result is equally as 
powerful.</p>

</div>


<div class="section" id="section_features"><h2>FEATURES</h2>

<ul>
<li>Easy to use.</li>
<li>Uses ERB template. Versatile and Easy.</li>
<li>Uses <code>meta</code> or <code>var</code> directory entries for template variables. Clever and Easy.</li>
<li>Uses <code>.ruby</code> metadata for template variables too, if available. Smart and Easy.</li>
<li>Did I mention it was easy?</li>
</ul>

</div>


<div class="section" id="section_synopsis">

<h2>INSTRUCTION</h2>

<h3>Creating "Spells"</h3>

<p>Sourcery template files reside in a project's <code>src</code> directory.
The need no special naming. Simply edit files in <code>src/</code> just as you
would if they were in <code>lib/</code>.</p>

<p>For example, here's a file that provides copyright information and project
version in code gathered from project metadata.</p>

<pre>
# <%= title %>
<% copyrights.each |c| %>
# Copyright (c) <%= c['year'] %> <%= c['owner'] %>
<% end %>

class Example
  VERSION = "<%= version %>"
end
</pre>

<p>While not strictly necessary, it is advisable that you edit only <code>src</code>
files and let all <code>lib</code> files be generated from there. Of course, if you
are using it to cast only one or two files, then that is manageable and this course
is not as pressing, but it remains a good idea in case you decide to become an archmage.
If you do not you will find yourself burned by your creations, making the mistake of
editing <code>lib</code> file when you should not. You have been warned.</p>

<h3>Casting "Spells"</h3>

<p>The sourcery command simply takes the files from the <code>src</code>
directory, or specific files given as arguments to the command, and
renders them to the `lib` directory. Typically all you need type is:</p>

<pre>
  $ sourcery
</pre>

<p>And all the source files ("spells") will be rendered ("cast") to <code>lib/</code>.</p>

</div>


<div class="section" id="section_how_to_install">

<h2>INSTALLATION</h2>

<p>To install with RubyGems simply open a console and type:</p>

<pre>
  $ sudo gem install sourcery
</pre>

<p>Site installation requires Setup.rb (gem install setup), then download the
tarball package and type:</p>

<pre>
  $ tar -xvzf sourcery-1.0.0.tar.gz
  $ cd sourcery-1.0.0.tar.gz
  $ sudo setup.rb all
</pre>

<p>Windows users will not need the <code>sudo</code>, but will probably need to be
logged-in as an administrator of the system.</p>

</div>


<div class="section" id="section_copyright_license"><h2>COPYRIGHT &amp; LICENSE</h2>

<p>Copyright &#169; 2009 Rubyworks</p>

<p>This program is distributed under the terms of the <b>BSD-2-Clause</b> license.</p>

<p>See COPYING.md file for details.</p>

</div>

</div></div>

<div id="footer">
  <div class="advert">
    <div style="text-align: center;">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-1126154564663472";
      /* RUBYWORKS 09-10-02 728x90 */
      google_ad_slot = "0788888658";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  </div>

  <div class="copyright">
    Sourcery Copyright &copy; 2009 <a href="rubyworks.github.com">Rubyworks</a>. All Rights Reserved. <br/>
  </div>
</div>

<div style="position: absolute; top: 0; right: 0;">
  <a href="http://github.com/rubyworks/assay"><img src="http://rubyworks.github.com/assets/images/fork-me.png"/></a>
</div>

<div style="position: fixed; bottom: 0; right: 0;">
  <a href="http://rubyworks.github.com">
    <img src="http://rubyworks.github.com/assets/images/seal.png" height="150px" />
  </a>
</div>

</BODY>
</HTML>
