/* COLOR */

body { color: ##EEEEEE; background: #ffffff; }
h1, h2, h3, h4 { color: #007700; }
a { color: #007700; }
pre { color: white; }

/* #header .title */

#header { }

.title h1 { color: #007700; }
.title pre { background: transparent; }

.download {
  background: #80F780;
  border-color: #007700;
  color: ##EEEEEE;
}

.download a { color: #007700; }

/* #nav .menu */

#nav { border-color: #007700;
  background: url(../images/fade.png) repeat-y #80F780;
}

.menu ul { background: transparent; }
.menu ul li a { color: #007700; border-color: #80F780; }

/* #main .doc */

.doc { }
.doc a { color: #007700; }
.doc a:hover { }
.doc p { color: ##EEEEEE; }
.doc h2 { color: #007700; border-color: #80F780; }
.doc h3 { color: #007700; border-color: #80F780; }

/* #footer .copyright */

/* #footer { background: #green; border-color: #007700; } */
.copyright { color:  colors[:text]; }

