/* GENERAL */

body{ background: url(../images/starfield.jpg) center -275px; }

a { color: #C2C; }
h1 { color: #EEF; text-shadow: 5px 5px 10px #77F; margin: 20px 0; font-size: 64px; }
h2 { color: #EEF; text-shadow: 5px 5px 10px #77F; margin-top: 30px; padding-top: 10px; }
h3 { color: #EEF; text-shadow: 5px 5px 10px #77F; font-weight: bold; }

pre { background: white; border-radius: 10px; color: #FF5599; font-weight: bold; padding: 20px 10px 20px 10px;
  margin-bottom: 2em;
}


/* SCHEMES */

.page { width: 750px; margin: 0 auto; }

.hued {
  background: #EEEEFF;
  color: #001;
}
.heud a    { color: #55FF99; }
.heud code { color: #555; }

.expressive {
  color: white;
}


/* SPECIAL */

#nav { padding: 25px 60px 25px 0; text-align: center; color: pink; }
#nav a { font-size: 100%; font-variant: small-caps; color: #44C; font-weight: bold; }
#nav a:hover { text-shadow: 3px 3px 10px #99F; text-decoration: none; }

#header { height: 240px; padding: 5px 0; border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: left; }
#header h1 { font-size: 140px; font-weight: bold; color: #000; font-family: courier, monospace; padding-top: 35px; margin: 0;
  text-shadow: 5px 0px 5px #EEF;
}

#main { border-bottom: 1px solid #000; padding: 10px 0 30px 0; }
#main p { font-family: "Lucida Console"; }
#main li { }

#footer { padding: 30px; text-align: center; margin: 0 auto; width: 800px; }
#footer .copyright { color: #500; padding-top: 40px; font-family: monospace; font-weight: bold; font-size: 90%; line-height: 150%; 
 color: #FFF;
}

#aside { position: fixed; padding: 20px; left: 0; top: 60px; width: 200px; height: 210px; margin: 0;
  border-left: 0px solid; border-bottom: 0px solid;
  border-color: #500; background: url(../images/fade.png) transparent;
}
#aside li { padding: 4px 0; }
#aside a { color: #F44; }
